rankit-dominio/target
rankit-dominio/.project
rankit-dominio/*.classpath
rankit-dominio/src/main/generated-sources
rankit-dominio/src/test/generated-sources
rankit-dominio/.settings
rankit-ui-arena/target
rankit-ui-arena/.project
rankit-ui-arena/*.classpath
rankit-ui-arena/src/main/generated-sources
rankit-ui-arena/src/test/generated-sources
rankit-ui-arena/.settings
/target/
.classpath
.project
.settings/
*generated-sources*
/bin
/xtend-gen

