
<div class="panel panel-default">
	<div class="panel-body">
		<h1 class="texto">Mis Calificaciones</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6 ">
		<div class="panel panel-default"
			ng-repeat="calificacion in calificacionCtrl.calificaciones">
			<div class="panel-body">
 
				<div class="row margenIzquierdo">
					<div class="col-md-4 espacio">
						<h5 class="nombreEvaluado"><strong>{{calificacion.evaluado.nombre }}</strong></h5>
						<h6>{{calificacion.evaluado.tipo}}</h6>

					</div>
					<div class="col-md-3">
						<div class="circle">
							<div class="circle__inner">
								<div class="circle__wrapper">
									<div class="circle__content">{{calificacion.promedio}}</div>
								</div>
							</div>
						</div>

					</div>
					<div class="col-md-4 margenIzquierdo margenTop">
						<div>
							<button type="button"
								class="btn btn-default botonCuadrado margenIzquierdo"
								ng-click="calificacionCtrl.eliminar(calificacion)">Borrar</button>
						</div>
						<div>
							<button type="button"
								class="btn btn-default botonCuadrado margenIzquierdo margenTop"
								ng-click="calificacionCtrl.modificar(calificacion)">Modificar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 ">
		<div class="panel panel-default">
			<div class="panel-body">
				<h2 class="texto">Nueva Calificaci&oacuten</h2>
				<div>
					<ul class="example-animate-container list-unstyled">
						<li class="alert alert-success animate-repeat texto"
							data-ng-repeat="msg in calificacionCtrl.msgs">{{msg}}</li>
					</ul>
				</div>
				<div>
					<ul class="example-animate-container list-unstyled">
						<li class="alert alert-danger animate-repeat texto"
							data-ng-repeat="error in calificacionCtrl.errors">{{error}}</li>
					</ul>
				</div>
				<div class="completarCalificacion">
					<form name="ingresoDeDatos">
						<div class="row">
							<div class="col-md-6 margenTop margenIzquierdo">
								<p>Calificado</p>
								<input type="text" name="calificado"
									ng-model="calificacionCtrl.nombreEvaluado"
									uib-typeahead="evaluado.nombre for evaluado in calificacionCtrl.evaluados | filter:$viewValue "
									class="form-control">
							</div>
							<div class="col-md-4 margenTop form-group">
								<p>Puntaje</p>
								<input type="number" name="puntos" class="form-control"
									ng-model="calificacionCtrl.puntos" id="puntos">
								<div ng-show="ingresoDeDatos.puntos.$error.number"
									class="alert alert-danger" role="alert">Solo
									n&uacutemeros</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-10 margenTop">
								<p class="margenIzquierdo">Motivo</p>
								<textarea ng-model="calificacionCtrl.detalle" name="motivo"
									type="text" class="form-control margenIzquierdo" rows="3"
									required="true"></textarea>
							</div>

						</div>
					</form>
					<div class="row">
						<div class="col-md-10 margenTop margenIzquierdo margenBottom">
							<button type="button" class="btn btn-default btn-lg btn-block "
								ng-click="calificacionCtrl.calificar()">Calificar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
