
<div class="panel panel-default">
   <div class="cabecera">
       <h1 class="texto">Mis Calificaciones</h1>
   </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 ">
         <ul ng-repeat="calificacion in calificacionCtrl.calificaciones" class="list-unstyled">
            <li>
               <div class="row borde espacioALaIzquierda" id="{{calificacion.id}}">
               <div class="col-md-4 espacio">
                 <strong><h5>{{calificacion.evaluado.nombre }}</h3></strong>
                  <strong><h6>{{calificacion.evaluado.tipo }}</h6></strong>
                  
              </div>
              <div class="col-md-3 espacio espacioALaIzquierda">
                <h5>{{calificacion.promedio}}</h3>
              </div>
              <div class="col-md-4 espacioALaIzquierda espacio">
                 <div>
                  <button type="button" class="btn btn-default botonCuadrado espacioAlaIzquierda" ng-click="calificacionCtrl.eliminar(calificacion)">Borrar</button>
                 </div>
                <div>
                   <button type="button" class="btn btn-default botonCuadrado espacioAlaIzquierda espacio" ng-click="calificacionCtrl.modificar(calificacion)">Modificar</button>
                
                  </div>
               </div>
             </div>
            
          </li>
          
       </ul>
      
      </div>
      <div class="col-md-6 ">
          <div class="borde cabecera">
             <h2 class="texto">Nueva Calificaci&oacuten</h2>
          </div>
   
         <div class="completarCalificacion">
            <div class="row">
                 <div class="col-md-6 espacio espacioALaIzquierda form-group">
                     <p>Calificado</p>
                     <input type="text" name="calificado" ng-model="calificacionCtrl.calificacion.evaluado" uib-typeahead="evaluado.nombre for evaluado in calificacionCtrl.evaluados | filter:$viewValue " class="form-control"  required="true">
                
                 </div>
                 <div class="col-md-2 espacio">
                      <p>Puntaje</p>
                      <input type="number" name="puntos" class="form-control" ng-model="calificacionCtrl.calificacion.puntos" required="true" id="puntos">
         
                </div>
              </div>
              <div class="row">
                  <div class="col-md-8 espacio">
                        <p class="espacioALaIzquierda">Motivo</p>
                        <textarea ng-model="calificacionCtrl.calificacion.detalle" name="motivo" type="text" class="form-control espacioALaIzquierda" rows="3" required="true"></textarea>
                  </div>

               </div>

               <div class="row">
                   <div class="col-md-8 espacio espacioALaIzquierda espacioParaAbajo">
                     <button type="button" ng-disabled="formu.$invalid" class="btn btn-default btn-lg btn-block " ng-click="calificacionCtrl.calificar()">Calificar</button>
                     </div>
               </div>
      
        </div>
    
    </div>
  
   
  
  
  </div>

</div>
</div>