	<div>
		<!-- Formulario de registro de usuario -->
		<form>
		<div ng-controller= "LoginController">
			<div class="row">
				<div class="col-xs-6">
				
				<!-- Campo para ingresar nombre -->
					<input ng-model="nombre" type="text" class="form-control"
					placeholder="Nombre de usuario"/>
				<!--
				<div>
					<div class="alert alert-error" ng-show="noHayNombreValido()">
						<p> El nombre ingresado es invalido: </p>
						<div> 
							<div ng-show="elNombreYaExiste()">
								<ul>
									<li>El nombre ya está en uso. Por favor, ingrese un nombre distinto.</li>
								</ul>
							</div>
							<div ng-show="nombreNoPermitido()">
								<ul>
									<li>El nombre "NN" no está permitido. Por favor, ingrese un nombre distinto.</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="alert alert-error" ng-show="registroSinNombre">
						<p> Llenar este campo es obligatorio: </p>
						<ul>
							<li>Por favor, ingrese un nombre.</li>
						</ul>
					</div>
				</div>
				-->
				</div>
				
				<!-- Boton de logueo -->
				<div class="divPaddingBottom col-xs-6">
					<input class="btn btn-primary btn-block" ng-click="loguear()"
					type="submit" value="Login"/>
				<!--
				<div class="alert alert-error" ng-show="registroSinContrasenha">
					<p> Llenar este campo es obligatorio: </p>
					<ul>
						<li>Por favor, ingrese una contraseña.</li>
					</ul>				
				</div>
				-->
				</div>
				{{pepe()}}
			</div>
			<div class="row">
			
				<!-- Campo de ingresar contraseña -->
				<div class="col-xs-6">
					<input ng-model="contrasenha" type="password" class="form-control" placeholder="Contraseña"/>
				</div>
				
				<!-- Boton de registro -->
				<div class="divPaddingBottom col-xs-6">
					<input class="btn btn-default btn-block" ng-click="registrar()"
					type="submit" value="Registrar"/>
				</div>
			</div>
		</div>
		</form>
	</div>