.texto{
	text-align: center;
}

.borde{
    border: solid #000;
    margin-top: 20px;
}


.completarCalificacion{
	background-color:#E0FFFF; 
	margin-top:40px;
}

.margenTop{
	   margin-top: 20px;
	   margin-bottom: 10px;
}

.margenIzquierdo{
	margin-left: 20px;
}
.nombreEvaluado{
	font-size: large;
}
.texboxPuntaje{
	width: 30px;
	height: 10px;
}

.margenBottom{
	margin-bottom: 20px;
}

.botonCuadrado {

     border-radius: 0;
     width: 80px;
     font-size: 30px;

}

.cabecera{
	  border: solid #000;
}